
<h1 class="text-center"> Welcome to TaskFlow</h1>

<div class="jumbotron">
  <h4 class="text-center">Organize your workflow and experience a better way to work.</h4>
</div>


  <%= link_to signup_path do %>
    <div class="btn btn-primary btn-success col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
      <h4>Sign Up</h4>
    </div>
  <% end %>