<div class="container">

  <div class="text-left page-header custom-page-header">
    <h1><%= "#{current_user.name}'s Projects" %></h1>
  </div>

  <div class="row">  


      <% @projects.each do |project|%>
        <%= link_to user_project_path(project.user, project) do %>
          <div class="col-sm-4 col-md-3 custom-column">
            <div class="text-center col-md-12 project">
              <p><%= "#{project.name}" %></p>
            </div>
          </div>
        <% end %>
      <% end %>



  </div>


  <h3>Add a new Project</h3>

  <%= link_to "+ New Project", new_user_project_path, class: "btn btn-primary" %>

</div>