/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


// Navbar customizations on top of Bootstrap
 .navbar-custom {
  background-color: #1b3344;

    .navbar-brand {
      color: #f0f8ff;
    }
    .navbar-brand:hover, .navbar-brand:focus {
        color: #91caf9;
      }

    .navbar-nav {

      li > a {
        color: #f0f8ff;
      }
      li > a:hover, li > a:focus {
        background-color: #91caf9;
        color: #1b3344;
      }

    }
 } // End navbar customizations

 .custom-page-header {
   margin-top: 0;

   a {
    text-decoration: none;
    color: #333333;
   }

   a:hover {
    text-decoration: none;
   }

 }

