#logo {
  font-size: 24px;
}

.my-form {
  border: 2px solid #708090;
  padding: 5%;
  border-radius: 5%;
}

.project {
  border: 1px solid #91caf9;
  background-color: #e2e5e8;
  min-height: 50px !important;
  line-height: 50px;

  p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #357bdb;
  }
}

.custom-column {
  margin-bottom: 2%;
}



